.uk-card{
    height: 250px;
    width: 200px;
    
    img{
        height: 170px;
    }
    background-color: transparent;
}
.title{
    color: #fff;
}
body{
    background-image: linear-gradient(#626362, #000);
    height: 100%;
}
h3{
    color:#fff;
}
